:root {
  /* -----------colors----------- */
  --color-primary-LinearGradient1: hsl(236, 72%, 79%);
  --color-primary-LinearGradient2: hsl(237, 63%, 64%);
  --color-neutral-VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --color-neutral-LightGrayishBlue: hsl(234, 14%, 74%);
  --color-neutral-GrayishBlue: hsl(233, 13%, 49%);
  --color-neutral-DarkGrayishBlue: hsl(232, 13%, 33%);

  /* -----------fonts----------- */
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

body {
  --Font-Family-Montserrat: "Montserrat", sans-serif;
  background: var(--color-neutral-VeryLightGrayishBlue);
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.pricing h2 {
  font-size: 1.9rem;
  color: var(--color-neutral-GrayishBlue);
}

.pricing--options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 340px;
  margin-bottom: 45px;
  font-size: 0.8rem;
  color: var(--color-neutral-LightGrayishBlue);
}

.pricing--options h3 {
  margin: 0;
  display: flex;
  align-items: center;
}

/* The switch - the box around the slider */
.pricingSwitch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 28px;
  margin: 15px;
}

/* Hide default HTML checkbox */
.pricingSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.pricingSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricingSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .pricingSlider {
  background-color: var(--color-primary-LinearGradient1);
}

input:focus + .pricingSlider {
  box-shadow: 0 0 1px var(--color-primary-LinearGradient2);
}

input:checked + .pricingSlider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.pricingSlider.round {
  border-radius: 34px;
  background: linear-gradient(135deg, var(--color-primary-LinearGradient1), var(--color-primary-LinearGradient2));
  color: var(--color-neutral-VeryLightGrayishBlue);
}

.pricingSlider.round:before {
  border-radius: 50%;
}

/*------------content-----------*/

.content {
  display: grid;
  height: 600px;
  grid-template-columns: repeat(3, 340px);
  grid-auto-rows: 20px 450px 20px;
  justify-content: center;
  margin: auto;
}

.content--basic {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2/3;
}

.content--professional {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1/4;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(135deg, var(--color-primary-LinearGradient1), var(--color-primary-LinearGradient2));
  color: var(--color-neutral-VeryLightGrayishBlue);
  text-align: center;
  padding: 35px 30px 40px 30px;
}

.content--master {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2/3;
}

.content--basic,
.content--master {
  border: 0;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  padding: 15px 30px 40px 30px;
  color: var(--color-neutral-GrayishBlue);
}

.content--name {
  font-size: 1.2rem;
}

.professional--name {
  margin-top: 24px;
}

.price--annually {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4.2rem;
  margin: 20px 0 20px 0;
}

.dolar {
  font-size: 2.5rem;
}

.price--monthly {
  display: none;
}

p {
  margin: 18px 0 18px 0;
}

.button {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 6px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button--basic,
.button--master {
  background: linear-gradient(135deg, var(--color-primary-LinearGradient1), var(--color-primary-LinearGradient2));
  color: #fff;
}

.button--professional {
  background-color: #fff;
  color: var(--color-primary-LinearGradient2);
}

.content hr {
  border: none;
  height: 1px;
  background-color: var(--color-neutral-LightGrayishBlue);
}

/*-----------------------------*/

/*------------footer-----------*/

.footer--attribution {
  font-size: 11px;
  text-align: center;
}
.footer--attribution a {
  color: hsl(228, 45%, 44%);
}

/*-----------------------------*/
